
@font-face {
    font-family: 'font';
    src: url('../VarelaRoundRegular.ttf');
}

body {
    font-family: 'font', serif;
}

#menu ul {
    text-align: right;
    direction: rtl;
}

.menuImg {
    left: unset;
    right: 0;
}

#search, .timelineMovieName, #chosenMovieSentence, #overview, #chosenMovieGenres, .name, .date, .popupCont, .moviesContent, #tvShowContent, #popularContent, #trendingContent {
    direction: rtl;
}

.details p, #tvShowSeasonsWrapper, #seasonBtnWrapper {
    direction: rtl;
    text-align: right;
}

.detailIcon {
    margin-right: unset;
    margin-left: .5rem;
}
