
html {
    position: relative;
    font-family: Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    position: relative;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: url('../images/background.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

main {
    margin-top: 3rem;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: #ff5a4e;
    background-color: orange;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}


h1 {
	text-align: center;
	margin-top: 2rem;
}

.btnWrapper {
    position: relative;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    width: 100%;
}

.sortContainer {
    display: none;
    width: 100%;
    position: absolute;
    top: 5rem;
    z-index: 2;
}

.sortContent {
    width: 40%;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,orange,gray,orange);
    border-radius: 5px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
    margin: auto;
}

button {
    border: none;
    min-width: 5rem;
    padding: .6rem;
    margin: 1rem;
    background: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
    transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
}

button:active {
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
    transform: translateY(4px);
    -ms-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -o-transform: translateY(4px);
}

#btnAllMarvel, #btnAllDC {
    display: none;
}

.searchContainer {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.searchContant {
    position: relative;
    width: 30%;
    margin: auto;
}

#searchResults {
    display: none;
    position: absolute;
    background-image: linear-gradient(-180deg, orange, white);
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 25rem;
    overflow-y: scroll;
    width: 100%;
}

#search {
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 2rem;
    text-indent: 1rem;
    font-size: 1.3rem;
    outline: none;
    background: none;
    color: lightgray;
}

#search:focus {
    outline: none;
}

#search ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
}

#search:focus ~ .focus-border {
    width: 100%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    left: 0;
}

.resultImgWrapper {
    width: 50%;
}

.result {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 1rem;
    cursor: pointer;
}

.resultName {
    width: 50%;
    font-size: 1.5rem;
}

.resultImg {
    width: 80px;
    border-radius: 5px;
}

.spinnerWrapper {
    position: fixed;
    top: 10rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    min-height: 215px;
    vertical-align: top;
    z-index: 99999999;
}

.spinner {
    margin: auto;
    width: 140px;
    height: 50px;
    text-align: center;
}

.spinner > div {
    width: 24px;
    height: 24px;
    background-color: #ff5a4e;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
    animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s;
    opacity: .4;
}

.spinner .bounce2 {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s;
    opacity: .6;
}

.spinner .bounce3 {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s;
    opacity: .8;
}

.spinner .bounce4 {
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s;
    opacity: 1;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-o-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-moz-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

h2 {
	font-size: 4rem;
	text-align: center;
    display: block;
    width: 100%;
    color: orange;
}

p {
    width: 100%;
}

.container {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
}

.headerLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -30px;
    height: 60px;
    width: 50px;
    padding: 0 5px;
}

#menuOpenWrapper {
    position: fixed;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    top: 2rem;
    right: 2rem;
    transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    z-index: 9999;
}

#toggle {
    width: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
}

#toggle span {
    display: block;
    position: absolute;
    height: 6px;
    width: 50%;
    background: orange;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#toggle span:nth-child(even) {
    left: 40%;
    border-radius: 0 9px 9px 0;
}

#toggle span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#toggle span:nth-child(1), #toggle span:nth-child(2) {
    top: 0px;
}

#toggle span:nth-child(3), #toggle span:nth-child(4) {
    top: 16px;
}

#toggle span:nth-child(5), #toggle span:nth-child(6) {
    top: 32px;
}

#toggle.on span:nth-child(1),#toggle.on span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#toggle.on span:nth-child(2),#toggle.on span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#toggle.on span:nth-child(1) {
    left: 5px;
    top: 9px;
}

#toggle.on span:nth-child(2) {
    left: calc(50% - 5px);
    top: 9px;
}

#toggle.on span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#toggle.on span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#toggle.on span:nth-child(5) {
    left: 5px;
    top: 27px;
}

#toggle.on span:nth-child(6) {
    left: calc(50% - 5px);
    top: 27px;
}

#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}

#menu {
    position: absolute;
    right: -.84rem;
    top: 3.5rem;
    color: #999;
    width: 200px;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
    cursor: auto;
}

#menu:after {
  position: absolute;
  top: -15px;
  right: 7px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}

#menu ul {
    padding: 0;
}

#menu li {
    list-style-type: none;
    position: relative;
    color: black;
    filter: drop-shadow(0 0 6px rgba(10, 10, 10, 0.3));
    line-height: 2.5rem;
    cursor: pointer;
    font-size: 1.3rem;
}

#menu li:not(:last-child) {
    border-bottom: 1px solid orange;
}

#menu img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: .2rem;
    left: 0;
}

.line {
    position: relative;
    overflow: visible;
    width: 80%;
    height: 2px;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.lineMarvel {
    background: linear-gradient(to right, transparent, red, transparent);
}

.lineMarvel span {
    background: url(../images/ironman.png) no-repeat 50% 50%;
    background-size: 70px 60px;
}

.lineDc {
    background: linear-gradient(to right, transparent, blue, transparent);
}

.lineDc span {
    background: url(../images/superman.png) no-repeat 50% 50%;
    background-size: 60px 60px;
}

.lineValiant {
    background: linear-gradient(to right, transparent, blue, transparent);
    margin-bottom: 4rem;
}

.lineValiant span {
    background: url(../images/valiant.png) no-repeat 50% 50%;
    background-size: 60px 60px;
}

.lineOthers {
    background: linear-gradient(to right, transparent, orange, transparent);
}

.lineOthers span {
    background: url(../images/others.png) no-repeat 50% 50%;
    background-size: 60px 60px;
}

.lineAnimation {
    background: linear-gradient(to right, transparent, purple, transparent);
}

.lineAnimation span {
    background: url(../images/animation.png) no-repeat 50% 50%;
    background-size: 70px 70px;
    width: 100px;
    margin-left: -69px;
}

.lineAnimation .headerLogo {
    height: 70px;
    margin-top: -40px;
}

.lineTvShows {
    background: linear-gradient(to right, transparent, red, transparent);
    margin-bottom: 4rem;
}

.lineTvShows span {
    background: url(../images/shows.png) no-repeat 50% 50%;
    background-size: 60px 60px;
    width: 99px;
    margin-left: -69px;
}

.lineUltra {
    background: linear-gradient(to right, transparent, gold, transparent);
    margin-bottom: 4rem;
}

.lineUltra span {
    background: url(../images/ultra.png) no-repeat 50% 50%;
    background-size: 70px 60px;
    width: 100px;
    margin-left: -69px;
}

#marvelContainer {
    display: none;
    position: relative;
}

#dcContainer {
    display: none;
    position: relative;
}

#valiantContainer {
    display: none;
    position: relative;
}

#othersContainer {
    display: none;
    position: relative;
}

#animationContainer {
    display: none;
    position: relative;
}

#tvShowContainer {
    display: none;
    position: relative;
}

#ultraContainer {
    display: none;
}

#tvShowContent {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.moviesContent {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.movieWrapper, .tvShowWrapper {
    width: 9rem;
    margin: 1rem;
    text-align: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    filter: drop-shadow(0 1px 4px rgba(10, 10, 10, 0.5));
    cursor: pointer;
}

.name, .date {
    font-size: .9rem;
    margin: .5rem 0 0 0;
    color: lightgray;
    font-weight: 600;
}

.year {
    color: lightgray;
}

.name::first-letter {
    font-size: 1.2rem;
    color: orange;
}

.marvelMovie, .dcMovie, .valiantMovie, .otherMovie, .animationMovie, .tvShow, .ultraMovie {
    position: relative;
    height: 18rem;
    padding-bottom: 2rem;
}

.movieImgWrapper, .tvShowImgWrapper {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    text-align: center;
    transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
}

.movieImg, .tvShowImg {
    width: 100%;
    height: 230px;
    border-radius: 5px;
    clip-path: polygon(30% 0%, 100% 0, 100% 30%, 100% 95%, 89% 100%, 0 100%, 0% 92%, 0 0);
    -ms-clip-path: polygon(30% 0%, 100% 0, 100% 30%, 100% 95%, 89% 100%, 0 100%, 0% 92%, 0 0);
    -o-clip-path: polygon(30% 0%, 100% 0, 100% 30%, 100% 95%, 89% 100%, 0 100%, 0% 92%, 0 0);
    -webkit-clip-path: polygon(30% 0%, 100% 0, 100% 30%, 100% 95%, 89% 100%, 0 100%, 0% 92%, 0 0);
}

#goToTopBtn {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 9999;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
    fill: orange;
}

#timeline {
    display: none;
}

.timelineMovieWrapper {
    text-align: center;
}

.timelineMovieName, .timelineMovieDate {
    color: lightgray;
    font-weight: 600;
}

.timelineMovieName {
    width: 50%;
    margin: 1rem auto;
}

.timelineMovieImg {
    border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
}

.poster {
    width: 150px;
}

.background {
    width: 350px;
}

#timelineContent {
    position: relative;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-bottom: 7rem;
}

#timelineContent::after {
    content: "";
    position: absolute;
    top: 6rem;
    left: 50%;
    height: 98%;
    border-left: 2px solid orange;
}

.timelineMovieWrapper:nth-child(odd) {
    align-self: flex-start;
}

.timelineMovieWrapper:nth-child(even) {
    align-self: flex-end;
}

footer {
    display: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    padding: 1rem;
}

footer span {
    color: lightgray;
}

#tmdbImg {
    width: 150px;
    margin-left: 1rem;
}

/*------------------------Popups-------------------------*/
    
.popUpInfo {
    display: none;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    min-height: 900px;
    background: rgba(210,220,225,.8);
    top: 0;
}

.popUpInfo h2 {
    font-size: 2rem;
}

.popupCont {
    display: block;
    position: fixed;
    width: 40rem;
    min-height: 25rem;
    background: #fff;
    padding: 1rem 2rem;
    top: 1%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    background: url('../images/background.jpg');
    color: lightgray;
    font-weight: 600;
    text-align: center;
}

.Xbtn {
    display: block;
    position: absolute;
    width:25px;
    height:25px;
    background:url(../images/closeBtn.png) no-repeat top center;
    background-Size:100% auto;
    top: 1em;
    right: 1em;
    cursor:pointer;
}

.linksWrapper {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

#movieImdbLink, #tvShowImdbLink, #moviePopcornLink {
    margin: 1rem 1rem 0 1rem;
    z-index: 2;
}

#movieImdbImage, #tvShowImdbImage, #moviePopcornImage, #movieYoutubeImage, #tvShowYoutubeImage {
    width: 80px;
    height: 80px;
}

#movieYoutubeImage, #tvShowYoutubeImage {
    margin: 1rem 1rem 0 1rem;
    cursor: pointer;
    z-index: 2;
}

.movieCoverWrapper, .tvShowCoverWrapper {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: -1;
    text-align: center;
    background-size: 200px 300px !important;
}

.longTitle {
    font-size: 1.5rem !important;
}

.videoWrapper {
    width: 100%;
    height: 100%;
}

#trailer .popupCont {
    width: 60rem;
    height: 35rem;
    padding: 3rem 2rem 1rem 2rem;
}

#videoFrame {
    width: 100%;
    height: 100%;
}

#trailerVideo {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#nextMcuFilmPop {
    text-align: center;
}

#nextMcuTitle {
    display: block;
}

#nextMcuImg {
    display: block;
    margin: auto;
    width: 33%;
    border-radius: 5px;
    margin-bottom: 1rem;;
}

#nextMcuFilmPop .popupCont {
    max-height: 78vh;
}

#nextMcuTitle::first-letter, #afterNextMovieTitle::first-letter {
    font-size: 1.2rem;
    color: orange;
}

#afterNextMovieTitle {
    display: block;
    margin-top: 1rem;
}

#movieCredits, #tvShowCredits {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    width: 90%;
    overflow-x: auto;
}

.movieCredit, .tvCredit {
    padding: 1rem;
}

.movieCreditCharacter, .tvCreditCharacter {
    display: block;
    margin-top: .5rem;
}

.movieCreditImg, .tvCreditImg {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
    transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    cursor: pointer;
}

.movieCreditImg {
    width: 150px;
    height: 225px;
}

.tvCreditImg {
    width: 130px;
    height: 205px;
}

.creditHeader {
    font-size: 2rem;
    color: orange;
}

@media only screen and (max-width: 1300px) {
    .resultName {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1100px) {

    #trailer .popupCont {
        width: 40rem;
        height: 25rem;
    }
}

@media only screen and (max-width: 1000px) {

    #timelineContent {
        display: block;
        margin-bottom: 2rem;
    }

    .timelineMovieWrapper:not(:last-child) {
        margin-bottom: 3rem;
    }

    #timelineContent::after {
        display: none;
    }

    #trailer .popupCont {
        width: 40rem;
        height: 25rem;
    }

    .popupCont {
        width: 70%;
    }

    .searchContant {
        width: 60%;
    }
}

@media only screen and (max-width: 880px) {

    .sortContent {
        width: 50%;
    }
}

@media only screen and (min-width: 765px) {
    .movieWrapper:hover, .tvShowWrapper:hover {
        transform: perspective(800px) rotateY(20deg) scale(1.05);
        -webkit-transform: perspective(800px) rotateY(20deg) scale(1.05);
        -moz-transform: perspective(800px) rotateY(20deg) scale(1.05);
        -ms-transform: perspective(800px) rotateY(20deg) scale(1.05);
        -o-transform: perspective(800px) rotateY(20deg) scale(1.05);
        filter: grayscale(0) blur(0) drop-shadow(0 1px 4px rgba(10, 10, 10, 0.5));
    }

    .timelineMovieImg:hover {
        transform: perspective(800px) rotateY(20deg) scale(1.05);
        -webkit-transform: perspective(800px) rotateY(20deg) scale(1.05);
        -moz-transform: perspective(800px) rotateY(20deg) scale(1.05);
        -ms-transform: perspective(800px) rotateY(20deg) scale(1.05);
        -o-transform: perspective(800px) rotateY(20deg) scale(1.05);
    }

    .movieCreditImg:hover, .tvCreditImg:hover {
        transform: perspective(800px) rotateY(20deg) scale(1.05);
        -webkit-transform: perspective(800px) rotateY(20deg) scale(1.05);
        -moz-transform: perspective(800px) rotateY(20deg) scale(1.05);
        -ms-transform: perspective(800px) rotateY(20deg) scale(1.05);
        -o-transform: perspective(800px) rotateY(20deg) scale(1.05);
    }
    

    #marvelContainer button:hover {
        background: #FE5449;
    }

    #dcContainer button:hover {
        background: #466DFF;
    }

    #valiantContainer button:hover {
        background: yellow;
    }

    #othersContainer button:hover {
        background: #8B8BFE;
    }

    #animationContainer button:hover {
        background: #72EA72;
    }

    #tvShowContainer button:hover {
        background: #D67B6E;
    }

    #ultraContainer button:hover {
        background: #00ccff;
    }

    #goToTopBtn:hover {
        fill: #d48900;
    }
}

@media only screen and (max-width: 765px) {

    .marvelMovie, .dcMovie, .valiantMovie, .otherMovie, .animationMovie, .tvShow, .ultraMovie {
        height: 20rem;
    }

    #searchResults {
        height: 15rem;
    }

    .spinnerWrapper {
        top: 14rem;
    }

    #trailer .popupCont {
        width: 30rem;
        height: 20rem;
    }

    #nextMcuImg {
        width: 40%;
    }

    .movieCreditImg, .tvCreditImg {
        width: 100px;
        height: 160px;
    }

    .movieCredit span {
        font-size: .85rem;
    }
}

@media only screen and (max-width: 600px) {

    .sortContent {
        width: 75%;
    }

    #trailer .popupCont {
        width: 29rem;
        height: 17rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media only screen and (max-width: 550px) {
    #movieImdbImage, #tvShowImdbImage, #moviePopcornImage, #movieYoutubeImage, #tvShowYoutubeImage {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 500px) {

    .resultName {
        font-size: 1.2rem;
    }

    #trailer .popupCont {
        width: 24rem;
    }
}

@media only screen and (max-width: 480px) {

    #search {
        font-size: 1rem;;
    }
}

@media only screen and (max-width: 470px) {

    #trailer .popupCont {
        width: 20rem;
        height: 13rem;
    }
}

@media only screen and (max-width: 400px) {

    .movieCredit, .tvCredit {
        padding: .5rem 1rem;
    }

    #movieImdbImage, #tvShowImdbImage, #moviePopcornImage, #movieYoutubeImage, #tvShowYoutubeImage {
        width: 35px;
        height: 35px;
    }

    #movieYoutubeImage, #tvShowYoutubeImage {
        margin: 1rem 1rem 1rem 1rem;
    }

    main {
        margin-top: 2rem;
    }

    .searchContant {
        margin: 0 0 0 1rem;
        width: 70%;
    }

    .resultName {
        font-size: 1rem;
    }
    
    .background {
        width: 250px;
    }   

    #trailer .popupCont {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #movieDetails .popupCont, #tvShowDetails .popupCont {
        padding: 1em 2.2em 0 2.2em;
    }

    .popUpInfo h2, .creditHeader {
        font-size: 1.5rem;
    }

    .longTitle {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 370px) {

    h2 {
        font-size: 3rem;
    }

    .marvelMovie, .dcMovie, .valiantMovie, .otherMovie, .animationMovie, .tvShow, .ultraMovie {
        width: 7rem;
    }

    #trailer .popupCont {
        width: 18rem;
        height: 11rem;
    }
}

@media only screen and (max-width: 350px) {

    .movieCreditImg, .tvCreditImg {
        width: 80px;
        height: 140px;
    }

    .movieCredit span {
        font-size: .8rem;
    }

    .Xbtn {
        width: 20px;
    }

    .popUpInfo h2 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 340px) {

     #trailer .popupCont {
        width: 18rem;
        height: 11rem;
    }
}
