
html {
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

main {
    margin-top: 15rem;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	background-color: #ff5a4e;
}

.headerContainer {
    width: 100%;
    z-index: 1;
}

.header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(to right, rgba(200, 200, 200, .95), rgba(50,50,50,.95));
    box-shadow: 0 3px 8px 3px #848484;
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    z-index: 9999;
}

.imgWrapper {
    position: absolute;
    top: 2rem;
    width: 100%;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
}

.imgWrapper img {
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
}

#marvel {
    width: 130px;
    height: 110px;
}

#dc {
    width: 130px;
    height: 110px;
}
#others {
    width: 130px;
    height: 110px;
}
#disney {
    width: 190px;
    height: 110px;
}

h1 {
	text-align: center;
	margin-top: 2rem;
}

.btnWrapper {
    position: relative;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    width: 100%;
}

.sortContainer {
    display: none;
    width: 100%;
    position: absolute;
    top: 5rem;
    z-index: 2;
}

.sortContent {
    width: 50%;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#e0ffff,rgba(255,0,0,.9),#e0ffff);
    border-radius: 5px;
    box-shadow: 0 1px 3px 3px #848484;
    margin: auto;
}

button {
    border: none;
    width: 7rem;
    height: 3rem;
    margin: 1rem;
    background: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 3px 3px #848484;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
}

button:active {
  box-shadow: 0 5px 5px #666;
  transform: translateY(4px);
  -ms-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -o-transform: translateY(4px);
}

.searchContainer {
    position: absolute;
    top: 10rem;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.searchContant {
    position: relative;
    width: 30%;
    margin: auto;
}

#searchResults {
    display: none;
    position: absolute;
    background-image: linear-gradient(-180deg, #3fe09b, white);
    box-shadow: 0 3px 8px 0 #848484;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 25rem;
    overflow-y: scroll;
    width: 100%;
}

.resultImgWrapper {
    width: 50%;
}

.result {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 1rem;
    cursor: pointer;
}

.resultName {
    width: 50%;
    font-size: 1.5rem;
}

.resultImg {
    width: 80px;
    border-radius: 5px;
}

#search {
    border-radius: 5px;
    box-shadow: 0 3px 8px 3px #848484;
    border: none;
    width: 100%;
    height: 2rem;
    text-indent: 1rem;
    font-size: 1.3rem;
    outline: none;
}

.spinnerWrapper {
    position: absolute;
    top: 17rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    min-height: 215px;
    vertical-align: top;
}

.spinner {
    margin: auto;
    width: 140px;
    height: 50px;
    text-align: center;
    z-index: 999;
}

.spinner > div {
    width: 24px;
    height: 24px;
    background-color: #ff5a4e;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
    animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s;
    opacity: .4;
}

.spinner .bounce2 {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s;
    opacity: .6;
}

.spinner .bounce3 {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s;
    opacity: .8;
}

.spinner .bounce4 {
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s;
    opacity: 1;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-o-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-moz-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

h2 {
	font-size: 4rem;
	text-align: center;
    display: block;
    width: 100%;
}

p {
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
}

.groupWrapper {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
}

/* .evenGroup::after {
    content: '';
    background: linear-gradient(to right, transparent, #3a47e4, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}

.oddGroup::after {
    content: '';
    background: linear-gradient(to right, transparent, #3fe09b, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
} */

hr {
    overflow: visible;
    height: 30px;
    width: 80%;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.headerLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -30px;
    height: 60px;
    width: 50px;
    padding: 0 5px;
    /* background: url(../images/ironman.png) no-repeat 50% 50%;
    background-size: 70px 60px; */
}

.line {
    position: relative;
    overflow: visible;
    width: 80%;
    height: 2px;
    /* background-color: #ddd; */
    /* background: linear-gradient(to right, transparent, red, transparent); */
    /* border: 1px solid linear-gradient(to right, transparent, blue, transparent); */
    border-collapse: collapse;
    margin-bottom: 2rem;
    /* background: linear-gradient(to right, transparent, blue, transparent); */
}

.lineMarvel {
    background: linear-gradient(to right, transparent, red, transparent);
}

.lineMarvel span {
    background: url(../images/ironman.png) no-repeat 50% 50%;
    background-size: 70px 60px;
}

.lineDc {
    background: linear-gradient(to right, transparent, blue, transparent);
}

.lineDc span {
    background: url(../images/superman.png) no-repeat 50% 50%;
    background-size: 60px 60px;
}

.lineOthers {
    background: linear-gradient(to right, transparent, orange, transparent);
}

.lineOthers span {
    background: url(../images/others.png) no-repeat 50% 50%;
    background-size: 60px 60px;
}

.lineAnimation {
    background: linear-gradient(to right, transparent, purple, transparent);
}

.lineAnimation span {
    background: url(../images/disney.png) no-repeat 50% 50%;
    background-size: 110px 60px;
    width: 100px;
    margin-left: -69px;
}

#marvelContainer {
    display: none;
    position: relative;
    background-image: linear-gradient(to right,gray, white);

}

/* #marvelContainer::after {
    content: '';
    background: linear-gradient(to right, transparent, red, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
} */

#dcContainer {
    display: none;
    position: relative;
    /* background-image: linear-gradient(to right,gray, white); */
    background-image: linear-gradient(to right,gray, white);
}

/* #dcContainer::after {
    content: '';
    background: linear-gradient(to right, transparent, blue, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
} */

#othersContainer {
    display: none;
    position: relative;
    background-image: linear-gradient(to right,gray, white);
}

/* #othersContainer::after {
    content: '';
    background: linear-gradient(to right, transparent, orange, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
} */

#animationContainer {
    display: none;
    position: relative;
    background-image: linear-gradient(to right,gray, white);
}

/* #animationContainer::after {
    content: '';
    background: linear-gradient(to right, transparent, purple, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
} */

#tvShowContainer {
    display: none;
    background-image: linear-gradient(to right,gray, white);
}

.movieWrapper, .tvShowWrapper {
    box-shadow: 0 3px 8px 3px #848484;
    border-radius: 5px;
    margin: 2rem;
    text-align: center;
    background-color: white;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    cursor: pointer;
}

.name {
    margin-top: 3rem;
}

.star {
    position: absolute;
    right: 0;
    width: 50px;
    height: 40px;
    z-index: 999;
}

.marvelMovie, .dcMovie, .otherMovie, .animationMovie, .tvShow {
    position: relative;
    width: 20rem;
    height: 19rem;
    padding-bottom: 2rem;
}

.movieImgWrapper, .tvShowImgWrapper {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    text-align: center;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
}

.movieImg, .tvShowImg {
    width: 8rem;
    height: 10rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px 3px #848484;
}

.goToTopBtn {
    display: none;
    width: 110px;
    height: 165px;
    cursor: pointer;
    position: fixed;
    bottom: 4rem;
    right: 1.5rem;
    z-index: 9999;
}

.goToFavorites {
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: fixed;
    bottom: 4rem;
    left: 1.5rem;
    z-index: 9999;
}

.goToTopBtn2 {
    display: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 9999;
}

#favoritesMsgWrapper {
    position: fixed;
    bottom: 3rem;
    height: 4rem;
    width: 100%;
    text-align: center;
    pointer-events: none;
    z-index: 1000;
}

#favoritesAddedMsg, #favoritesRemovedMsg {
    display: none;
    width: 80%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
    z-index: 1000;

}

#favoritesAddedMsg p, #favoritesRemovedMsg p {
    width: 60%;
    color: white;
    font-size: 2rem;
    margin: auto;
    z-index: 1000;
}

/*------------------------Popups-------------------------*/
    
.popUpInfo {
    display: none;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    min-height: 900px;
    background: rgba(210,220,225,.8);
    top: 0;
}

.popUpInfo h2 {
    font-size: 2rem;
}

.popupCont {
    display: block;
    position: fixed;
    width: 40rem;
    background: #fff;
    padding:3em;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    background-image: linear-gradient(to right,white, lightgray);
}

.popupContent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
    border-radius: 10px;
}

.popupBtnsWrapper {
    position: absolute;
    width: 100%;
    bottom: 3rem;
    left: 0;
    margin-top: 2rem;
    text-align: center;
}

.popupBtn {
    padding: .7rem;
    width: 7rem;
    margin: auto;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor:pointer;
}

.Xbtn {
    display: block;
    position: absolute;
    width:25px;
    height:25px;
    background:url(../images/closeBtn.png) no-repeat top center;
    background-Size:100% auto;
    top: 1em;
    right: 1em;
    cursor:pointer;
}

.linksWrapper {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 6rem;
}

#movieImdbLink, #tvShowImdbLink {
    margin: 1.5rem;
    z-index: 2;
}

#movieImdbImage, #tvShowImdbImage {
    width: 100px;
    height: 100px;
}

#movieYoutubeImage, #tvShowYoutubeImage {
    margin: 1.5rem;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 2;
}

.movieCoverWrapper, .tvShowCoverWrapper {
    position: absolute;
    top: 8rem;
    left: 0;
    width: 100%;
    opacity: .1;
    z-index: 0;
    text-align: center;
}

#movieCover, #tvShowCover {
    border-radius: 5px;
    max-height: 16rem;
}

.videoWrapper {
    width: 100%;
    height: 100%;
}

#trailer .popupCont {
    width: 60rem;
    height: 35rem;
}

#videoFrame {
    width: 100%;
    height: 100%;
}

#trailerVideo {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#favorites .popupCont {
    height: 45vh;
}

#favorites .popupBtnsWrapper .popupBtn {
    background-color: #ff5a4e;
}

#favoritesGallery {
    height: 38vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.favoriteWrapper {
    position: relative;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    text-align: center;
}

.favoritesGalleryName {
    position: absolute;
    top: -1rem;
    margin: 0;
}

.favoritesGalleryImg {
    width: 170px;
    height: 200px;
    margin-top: 2rem;
    border-radius: 5px;
}

.favoritesBtnWrapper {
    width: 100%;
    text-align: center;
}

.removeFromFavoritesBtn {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 1300px) {
    .resultName {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1200px) {

    .sortContent {
        width: 70%;
    }

    .marvelMovie, .dcMovie, .otherMovie, .animationMovie, .tvShow {
        width: 15rem;
    }

    .movieImg, .tvShowImg {
        width: 6rem;
        height: 8rem;
    }

    .movieWrapper, .tvShowWrapper {
        margin: 1rem;
    }
}

@media only screen and (max-width: 1100px) {
    #trailer .popupCont {
        width: 40rem;
        height: 25rem;
    }
}

@media only screen and (max-width: 1000px) {
    .popupCont {
        width: 65%;
    }

    .searchContant {
        width: 75%;
    }
}

@media only screen and (max-width: 880px) {

    .sortContent {
        width: 90%;
    }

    .imgWrapper img {
        margin-right: 0;
    }
}

@media only screen and (min-width: 765px) {

    .movieWrapper:hover, .tvShowWrapper:hover {
        transform: scale(1.07);
    }

    .marvelBtn:hover {
        background: #FE5449;
        border: 1px solid white;
    }

    .dcBtn:hover {
        background: #466DFF;
        border: 1px solid white;
    }

    .othersBtn:hover {
        background: #8B8BFE;
        border: 1px solid white;
    }

    .animationBtn:hover {
        background: #72EA72;
        border: 1px solid white;
    }

    .tvShowBtn:hover {
        background: #D67B6E;
        border: 1px solid white;
    }
}

@media only screen and (max-width: 765px) {

    .marvelMovie, .dcMovie, .otherMovie, .animationMovie, .tvShow {
        height: 18rem;
    }

    .header {
        height: 12rem;
    }

    .searchContainer {
        top: 8rem;
    }
    
    #searchResults {
        height: 15rem;
    }

    main {
        margin-top: 12rem;
    }

    .spinnerWrapper {
        top: 14rem;
    }

    #marvel {
        width: 120px;
        height: 80px;
    }
    #dc {
        width: 120px;
        height: 80px;
    }
    #others {
        width: 120px;
        height: 80px;
    }
    #disney {
        width: 150px;
        height: 80px;
    }

    #favoritesAddedMsg p, #favoritesRemovedMsg p {
        font-size: 1rem;
    }

    #trailer .popupCont {
        width: 30rem;
        height: 20rem;
    }

    .goToFavorites {
        width: 60px;
        height: 60px;
        bottom: 2rem;
    } 
}

@media only screen and (max-width: 670px) {

    #marvel {
        width: 95px;
        height: 70px;
    }
    #dc {
        width: 95px;
        height: 70px;
    }
    #others {
        width: 95px;
        height: 70px;
    }
    #disney {
        width: 115px;
        height: 70px;
    }
}

@media only screen and (max-width: 600px) {
    #trailer .popupCont {
        width: 29rem;
        height: 17rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .popupCont {
        top: 2%;
    }

    .linksWrapper {
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 550px) {

    .marvelMovie, .dcMovie, .otherMovie, .animationMovie, .tvShow {
        width: 12rem;
    }

    #marvel {
        width: 75px;
        height: 60px;
    }
    #dc {
        width: 75px;
        height: 60px;
    }
    #others {
        width: 75px;
        height: 60px;
    }
    #disney {
        width: 100px;
        height: 60px;
    }

    #trailer .popupCont {
        width: 26rem;
    }
}

@media only screen and (max-width: 500px) {

    .resultName {
        font-size: 1.2rem;
    }

    #trailer .popupCont {
        width: 24rem;
    }
}

@media only screen and (max-width: 480px) {

    .imgWrapper img {
        margin-left: 1rem;
    }

    #favoritesGallery {
        height: 50vh;
    }

    #favorites .popupCont {
        height: 60vh;
    }

    .favoritesGalleryName {
        font-size: .8rem;
    }

    .favoritesGalleryImg {
        width: 100px;
        height: 140px;
        margin-top: 4rem;
    }

    #favorites .popupBtnsWrapper {
        margin-top: 4rem;
    }

    .removeFromFavoritesBtn {
        width: 5rem;
        height: 2rem;
    }
}

@media only screen and (max-width: 470px) {

    #trailer .popupCont {
        width: 20rem;
        height: 13rem;
    }
}


@media only screen and (max-width: 460px) {

    .marvelMovie, .dcMovie, .otherMovie, .animationMovie, .tvShow {
        width: 9rem;
        height: 21rem;
    }
}

@media only screen and (max-width: 410px) {

    #search {
        font-size: 1rem;
    }

    #marvel {
        width: 53px;
        height: 50px;
    }
    #dc {
        width: 53px;
        height: 50px;
    }
    #others {
        width: 53px;
        height: 50px;
    }
    #disney {
        width: 75px;
        height: 45px;
    }

    #favoritesAddedMsg, #favoritesRemovedMsg {
        bottom: 4rem;
    } 
}
@media only screen and (max-width: 400px) {

    .resultName {
        font-size: 1rem;
    }

    #trailer .popupCont {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #favorites .popupCont {
        height: 75vh;
    }

    #favoritesGallery {
        height: 62vh;
    }

    #movieDetails .popupCont {
        padding: 2.2em;
    }
}

@media only screen and (max-width: 370px) {

    .goToFavorites {
        width: 50px;
        height: 50px;
        bottom: 1rem;
    } 

    .marvelMovie, .dcMovie, .otherMovie, .animationMovie, .tvShow {
        width: 7rem;
    }

    #trailer .popupCont {
        width: 18rem;
        height: 11rem;
    }
}

@media only screen and (max-width: 350px) {

    #movieImdbImage, #tvShowImdbImage, #movieYoutubeImage, #tvShowYoutubeImage {
        width: 75px;
        height: 75px;
    }

    .Xbtn {
        width: 20px;
    }

    .popUpInfo h2 {
        font-size: 1.2rem;
    }

    #marvel {
        width: 45px;
        height: 45px;
    }
    #dc {
        width: 45px;
        height: 45px;
    }
    #others {
        width: 45px;
        height: 45px;
    }
    #disney {
        width: 70px;
        height: 40px;
    }
}

@media only screen and (max-width: 340px) {

     #trailer .popupCont {
        width: 18rem;
        height: 11rem;
    }
}
